#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.square {
  width: 85px;
  height: 85px;
}

.square:active {
  border-color: 1px #afbd71;
  background-color: #afbd71;
}

.dark {
  background-color: #2c2b29;
  color: #FFF;
  border: 1px white;
}

.light {
  background: #4e7837;
  color: #000;
  border: 1px black;
}

.row {
  height: 85;
  width: 680;
}

.image {
  justify-content: center;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}