.navbar {
    width: 15%;
    height: 100%;
    background-color: darkgrey;
    opacity: 0.6;
}

.page{
    background-color: #302e2b;
    width: 900px;
    height: 680px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #555555;
    color: white;
}

.navbarIcon {
  justify-content: center;
  display: block;
  margin: auto;
  width: 85px;
  height: 85px;
}

.active {
    background-color: #04AA6D;
    color: white;
}