.square {
  width: 85px;
  height: 85px;
}

.square:active {
  border-color: 1px #afbd71;
  background-color: #afbd71;
}

.dark {
  background-color: #2c2b29;
  color: #FFF;
  border: 1px white;
}

.light {
  background: #4e7837;
  color: #000;
  border: 1px black;
}

.row {
  height: 85;
  width: 680;
}

.image {
  justify-content: center;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}