.infoBlockContainer {
    width: 20vw;
    height: 86vh;
    background-color: lightblue;
    opacity: 0.6;
    display: block;
}

.infoBlock {
    height: 18%;
    width: 90%;
    border: 1px black solid;
    display: block;
    margin: 10 auto;
    border-radius: 25px;
}

.lose {
    background-color: #FF0000;
}

.lose:hover {
    background-color: #CC0000;
    cursor: pointer;
}

.lose:active {
    background-color: #BB0000;
}

.win {
    background-color: #00FF00;
}

.win:hover {
    background-color: #00CC00;
    cursor: pointer;
}

.win:active {
    background-color: #00BB00;
}

.headerBlock {
    height: 50%;
    width: 100%;
    display: flex;
}

.imageBlock {
    width: 30%;
    border-bottom: 1px white solid;
    border-right: 1px white solid;
}

.pieceBlock {
    padding-left: 20%;
    padding-top: 5%;
}

.statusBlock {
    width: 70%;
    border-bottom: 1px white solid;
    font-size: 3vw;
    font-family: monospace;
    text-align: center;
}

.nameBlock {
    height: 50%;
    width: 100%;
    font-size: 3vw;
    font-family: monospace;
    text-align: center;
}

.replays {
    height: 85%;
}