.infoBlockContainer {
    width: 20vw;
    height: 86vh;
    background-color: lightblue;
    opacity: 0.6;
    display: block;
}

.infoBlockLose {
    height: 15%;
    width: 90%;
    background-color: #FF0000;
    border: 1px black solid;
    display: block;
    margin: 10 auto;
    border-radius: 25px;
}

.infoBlockLose:hover {
    background-color: #CC0000;
    cursor: pointer;
}

.infoBlockLose:active {
    background-color: #BB0000;
}

.infoBlockWin {
    height: 15%;
    width: 90%;
    background-color: #00FF00;
    border: 1px black solid;
    display: block;
    margin: 10 auto;
    border-radius: 25px;
}

.infoBlockWin:hover {
    background-color: #00CC00;
    cursor: pointer;
}

.infoBlockWin:active {
    background-color: #00BB00;
}

.headerBlock {
    height: 50%;
    width: 100%;
    display: flex;
}

.imageBlock {
    width: 30%;
    /* border: white solid; */
    border-bottom: 1px white solid;
    border-right: 1px white solid;
}

.pieceBlock {
    padding-left: 20%;
    padding-top: 5%;
}

.statusBlock {
    width: 70%;
    border-bottom: 1px white solid;
    font-size: 3vw;
    font-family: monospace;
    text-align: center;
    /* border: white solid; */
}

.nameBlock {
    height: 50%;
    width: 100%;
    font-size: 3vw;
    font-family: monospace;
    text-align: center;
    /* background-color: blue; */
}